@using TreatShop.Models;
@model dynamic;

<h1>Sweet and Savory Treats!</h1>
@if(@Model.Treat.Count == 0 && Model.Flavor.Count == 0)
{
  <p>There are no treats or flavors!</p>
}

<p>@Html.ActionLink("View all treats", "Index", "Treats")</p>
<p>@Html.ActionLink("Register", "Index", "Account")</p>