@using TreatShop.Models;
@model dynamic;

<h1>Sweet and Savory Treats!</h1>
@if(@Model.Treat.Count == 0 && Model.Flavor.Count == 0)
{
  <p>There are no treats or flavors!</p>
}

else 
{
  <h3>Treats</h3>
  @foreach (var treat in Model.Treat)
  {
    @Html.ActionLink($"{treat.TreatName}", "Details", "Treats", new{id = treat.TreatId})
  }
}

<p>@Html.ActionLink("View all treats", "Index", "Treats")</p>
<p>@Html.ActionLink("Register", "Index", "Account")</p>